.grid {
  position: absolute;
  top: 0;

  width: 98.5vw;
  height: 100vh;
  max-height: 100vh;

  pointer-events: none;

  @include grid;
}

.gallery {
  position: relative;
  z-index: 2;

  display: flex;

  height: 100vh;
  max-height: 100vh;

  pointer-events: auto;

  grid-column: 5 / 13;
  grid-row: 1 / 2;
}

.img {
  position: relative;
  z-index: 1;

  grid-column: 5 / 13;
  grid-row: 1 / 2;
}

.box {
  flex: 1;
}

.projectInfo {
  display: grid;
  align-self: end;

  padding: calculateRem(10px) 0 calculateRem(6px);

  border-top: 1px solid var(--color-light-gray);

  grid-column: span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: calculateRem(8px);

  .category {
    grid-column: span 1;
  }

  .title {
    grid-column: span 3;
  }
}
