.grid {
  @media (min-width: $bp) {
    position: absolute;
    top: 0;

    width: 98.5vw;
    height: 100vh;

    @include grid;
  }
}

.gallery {
  position: relative;
  z-index: 2;

  display: flex;

  @media (min-width: $bp) {
    grid-column: 5 / 13;
    grid-row: 1 / 2;
  }
}

.img {
  position: relative;
  z-index: 1;

  grid-column: 5 / 13;
  grid-row: 1 / 2;
}

.box {
  flex: 1;

  padding-bottom: 4 / 3 * 100%;
}
