.wrapper {
  margin-bottom: calculateRem(8px);
  padding-bottom: calculateRem(8px);

  border-bottom: 1px solid var(--color-light-gray);

  @include grid;
}

.title {
  color: var(--color-dark-gray);

  grid-column: span 2;
}

.content {
  grid-column: span 6;

  h4 {
    color: var(--color-dark-gray);
  }

  ul {
    margin-bottom: 1em;
  }
}
