.wrapper {
  position: relative;
  z-index: 2;

  @media (min-width: $bp) {
    @include grid;
  }
}

.images {
  @media (min-width: $bp) {
    grid-column: 5 / span 8;
  }
}

.image {
  margin-bottom: calculateRem(8px);

  &:last-child {
    margin-bottom: 0;
  }
}
