.wrapper {
  @media (min-width: $bp) {
    @include grid;
  }

  p {
    margin-bottom: calculateRem(8px);
  }
}

.images {
  position: relative;
  z-index: 1;

  @media (min-width: $bp) {
    margin-top: calculateRem(8px);
    grid-column: 5 / span 8;
  }
}