.grid {
  display: grid;

  gap: calculateRem(8px);
  grid-auto-flow: dense;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @media (min-width: $bp) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.portrait {
  padding-bottom: 4 / 3 * 100%;

  grid-column: span 1;
}
.landscape {
  padding-bottom: 9 / 16 * 100%;

  grid-column: span 2;
}

.portrait,
.landscape {
  position: relative;

  display: flex;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s;
    text-align: center;

    div {
      transition: all 0.3s;

      opacity: 0;
      color: var(--color-white);
    }

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.5);

      div {
        opacity: 1;
      }
    }
  }
}

.bg {
  position: relative;

  background-repeat: repeat-y;
  background-position: bottom center;
  background-size: cover;
}
