.grid {
  display: grid;

  gap: calculateRem(8px);
  grid-auto-flow: dense;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $bp) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.portrait {
  padding-bottom: 4 / 3 * 100%;

  grid-column: span 1;
}
.landscape {
  padding-bottom: 9 / 16 * 100%;

  grid-column: span 2;
}

.portrait,
.landscape {
  position: relative;

  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.bg {
  position: relative;

  background-repeat: repeat-y;
  background-position: bottom center;
  background-size: cover;

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;
  }
}
