@import './reset.scss';
@import './fonts.scss';
@import './typography.scss';

body {
  padding: 0 calculateRem(8px) calculateRem(8px);

  @media (min-width: $bp) {
    padding: 0 calculateRem(16px) calculateRem(16px);
  }

  &.category-page {
    .sticky {
      z-index: 999;
    }
  }

  overflow-x: hidden;
}

img {
  display: block;

  width: 100% !important;
  height: auto !important;
}

.wp-video {
  position: relative;

  overflow: hidden;

  max-width: 100%;
  padding-bottom: 56.25%;

  .wp-video-shortcode {
    position: absolute;
    top: 0;
    left: 0;

    max-width: 100%;
    height: 100%;
  }
}

.wp-video iframe,
.wp-video object,
.wp-video embed {
}
