@import './reset.scss';
@import './fonts.scss';
@import './typography.scss';

body {
  padding: 0 calculateRem(8px);

  @media (min-width: $bp) {
    padding: 0 calculateRem(16px);
  }
}

img {
  display: block;

  width: 100%;
  height: auto;
}
