@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin grid() {
  display: grid;

  max-width: calculateRem(1680px);
  margin: 0 auto;
  padding: 0 calculateRem(8px);

  grid-template-columns: repeat(8, 1fr);
  gap: calculateRem(8px);

  @media (min-width: $bp) {
    grid-template-columns: repeat(16, 1fr);
  }
}
