.wrapper {
  margin-bottom: calculateRem(8px);
  border-bottom: 1px solid var(--color-light-gray);

  @include grid;

  @media (min-width: $bp) {
    padding-bottom: calculateRem(24px);
  }
}

.title {
  color: var(--color-dark-gray);

  grid-column: span 2;
}

.gray {
  color: var(--color-dark-gray);
}

.content {
  grid-column: span 6;

  h4 {
    color: var(--color-dark-gray);
  }

  ul {
    margin-bottom: 1em;
  }

  &.bio {
    padding-bottom: calculateRem(24px);

    @media (min-width: $bp) {
      padding-bottom: unset;
    }
    
    p {
      max-width: 54ch;
    }
  }
  &.clients {
    padding-bottom: calculateRem(24px);

    @media (min-width: $bp) {
      padding-bottom: unset;
      display: grid;

      grid-column: span 8;
      column-gap: calculateRem(8px);
      grid-template-columns: repeat(8, minmax(0, 1fr));

      h4 {
        grid-column: span 2;
      }

      div {
        grid-column: span 2;
      }
    }
  }
  &.contact {
    padding-bottom: calculateRem(24px);
    
    @media (min-width: $bp) {
      display: grid;
      padding-bottom: unset;
      grid-column: span 4;
      column-gap: calculateRem(8px);
      grid-template-columns: repeat(4, minmax(0, 1fr));

      h4 {
        grid-column: span 2;
      }
      ul {
        margin-bottom: 0;

        grid-column: span 2;
      }
    }
    @media (min-width: $bpl) {
      grid-column: span 8;
      grid-template-columns: repeat(8, minmax(0, 1fr));

      h4 {
        grid-column: span 2;
      }
      
      ul {
        margin-bottom: 0;

        grid-column: span 6;
      }
    }
  }
}

.secondh2 {
  margin-top: 1em;

  @media (min-width: $bp) {
    margin-top: unset;
  }
}

.flex {
  display: flex;
  flex-direction: column;
}

.flexInner {
  flex: 1 0 auto;
}

.social {
  flex-shrink: 0;

  ul {
    margin-bottom: 0;
    grid-column: span 2;
  }
}

.space {
  margin-bottom: 1em !important;
  
  @media (min-width: $bp) {
    margin-bottom: 0;
  }
}
