.nav {
  display: flex;
  flex-direction: column-reverse;

  min-height: 100vh;
  margin-top: 200px;
}

.list {
  border-bottom: 1px solid var(--color-light-gray);
  position: relative;

  &:last-child {
    border-bottom: none;
  }
}

.listItem {
  padding: calculateRem(10px) 0 calculateRem(6px);

  border-top: 1px solid var(--color-light-gray);

  h3 {
    display: block;

    color: var(--color-dark-gray);
  }

  a {
    display: block;

    @media (min-width: $bp) {
      @include grid;
    }

    span,
    div {
      &:first-child {
        margin-right: 2em;

        @media (min-width: $bp) {
          grid-column: span 2;
          margin-right: unset;
        }
      }

      &:last-child {
        @media (min-width: $bp) {
          grid-column: 3 / -1;
        }
      }
    }
  }
}

.preview {
  display: none;

  @media (min-width: $bp) {
    pointer-events: none;
    
    @include grid;
    width:100vw;
    transform:translateY(-32px)
  }
}

.previewImage {
  grid-column: span 3;
}
