.nav {
  display: flex;
  flex-direction: column-reverse;

  min-height: 100vh;
  margin-top: 400px;
}

.list {
  border-bottom: 1px solid var(--color-light-gray);
  position: relative;

  &:last-child {
    border-bottom: none;
  }
}

.listItem {
  
  position: relative;
  border-top: 1px solid var(--color-light-gray);

  h3 {
    display: block;
    color: var(--color-dark-gray);
    padding: calculateRem(10px) 0 calculateRem(6px);
  }

  a {
    display: block;
    padding: calculateRem(10px) 0 calculateRem(6px);

    @media (min-width: $bp) {
      @include grid;
    }

    span,
    div {
      &:first-child {
        margin-right: 2em;

        @media (min-width: $bp) {
          grid-column: span 2;
          margin-right: unset;
        }
      }

      &:last-child {
        @media (min-width: $bp) {
          grid-column: 3 / -1;
        }
      }
    }
  }

  .preview {
    display: none;
  }

  &:hover {
    .preview {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      pointer-events: none;
    }
    .previewImageWrapper {
      display:grid;
      column-gap: calculateRem(8px);
      grid-template-columns: repeat(16, minmax(0, 1fr));
      position: relative;
    }
    .previewImage {
      position: absolute;
      grid-column: 6 / 9;
    }
  }
}



.previewImage {
  grid-column: span 3;
}
