.tippy-touch {
	cursor: pointer !important
}

.tippy-notransition {
	transition: none !important
}

.tippy-popper {
	max-width: 400px;
	-webkit-perspective: 800px;
	perspective: 800px;
	z-index: 9999;
	outline: 0;
	pointer-events: none;
	transition-duration: 0 !important;
	left: 40% !important;
	
	div {
		transition-duration: 0 !important;
	}
}