.tippy-touch {
	cursor: pointer !important
}

.tippy-notransition {
	transition: none !important
}

.tippy-popper {
	max-width: 400px;
	-webkit-perspective: 800px;
	perspective: 800px;
	z-index: 9999;
	outline: 0;
  pointer-events: none;
  left: 40% !important;
}