.sticky {
  position: sticky;
  z-index: 999;
  top: 0;

  background-color: var(--color-white);

  @media (min-width: $bp) {
    z-index: 1;

    body.category-page & {
      z-index: 999;
    }
  }
}

.title {
  padding: calculateRem(8px) 0 calculateRem(8px) 0;

  @include grid;

  @media (min-width: $bp) {
    padding: calculateRem(16px) calculateRem(16px) calculateRem(8px) 0;
  }

}

.link {
  grid-column: 1 / -1;
  
  @media (min-width: $bp) {
    grid-column: 1 / 5;
  }
}

.screenReaderText {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}