.sticky {
  position: sticky;
  z-index: 999;
  top: 0;

  background-color: var(--color-white);

  @media (min-width: $bp) {
    z-index: 0;
  }
}

.title {
  margin-bottom: calculateRem(10px);

  @include grid;
}

.link {
  display: block;

  width: 100%;
  margin-top: calculateRem(8px);
  padding-bottom: 5.446822686766054%;

  text-indent: -9999px;

  background-image: url('./Wordmark.svg');
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: contain;

  grid-column: 1 / -1;

  @media (min-width: $bp) {
    margin-top: calculateRem(16px);
    padding-bottom: calculateRem(8px);

    grid-column: 1 / 4;
  }
}
