.nav {
  position: relative;

  margin: calculateRem(4px) 0 calculateRem(8px) 0;
}

.list {
  border-top: 1px solid var(--color-light-gray);
}

.navItem {
  padding: calculateRem(10px) 0 calculateRem(6px);

  border-bottom: 1px solid var(--color-light-gray);
}

.gray {
  color: var(--color-dark-gray);
}

.navItemCurrent {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navItemLinkGray {
    flex: 1;

    color: var(--color-dark-gray);

    &:hover {
      cursor: pointer;
    }
  }
  .navItemLinkBlack {
    flex: 1;

    color: var(--color-black);

    &:hover {
      cursor: pointer;
    }
  }
  svg {
    fill: var(--color-black);
  }
  &:hover {
    h2 {
      color: var(--color-dark-gray) !important;
    }
    svg {
      fill: var(--color-dark-gray);
    }
  }
}

.navItemCurrectProject {
  display: flex;
  align-items: center;
  justify-content: space-between;

  // transform: translateY(2px);

  span {
    &:last-child {
      color: var(--color-dark-gray);

      em {
        color: var(--color-black);
      }
    }
  }
}

.navItemLink {
  display: block;

  // transform: translateY(2px);
}

.btn {
  display: flex;
  overflow: visible;

  width: auto;
  margin: 0;
  padding: 0;

  cursor: pointer;
  transform: translateY(-2px);

  color: inherit;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;

  font: inherit;
  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  &::-moz-focus-inner {
    padding: 0;

    border: 0;
  }
}
